@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.login-body {
	background:url(../images/bg2.jpg) no-repeat;
	background-size:cover;
	font-size:12px;
	 font-family: "Open Sans";
}
*{box-sizing:border-box;}
.login-logo {
	padding:10px;
	text-align:center;
}
.login {
	background:rgba(0,0,0,.5);
	border:1px solid #999;
	padding:20px 40px 40px 40px;
	width:350px;
	margin:120px auto 0px;
	border-radius:3px;
	color:#eee;
}
.login  p {
	margin-bottom:20px;
	position:relative;
}
.count-flat {
	width:100px;
	height:60px;
	padding:3px;
	margin:-53px auto 20px;
	border:1px solid #ccc;
	display:block
}
.login .text-box {
	width:100%;
	background:#333;
	padding:4px 8px 4px 20px;
	border:1px solid #999;
	height:24px;
}
.error {color:#ff2a00;font-weight:normal;}
.error:before {
	content:"\21b3";
	margin-right:5px;
}
.text-red {color:#ff2a00;}
.btn-login {background:#d46f06;border:1px solid #e9851c;padding:3px 8px; color:#fff;border-radius:2px;}
.login .fa {
	position:absolute;
	top:29px;
	left:7px;
	color:#ddd;
	font-size:10px;
}
.login-back {margin-top:50px;}