/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/* input,
select,
textarea {
    max-width: 280px;
} */




/* common style start */
body {
    font-family: "Calibri" !important;
    font-size: 0.9em;
}

.form-control {
    height: auto;
    padding: .2rem;
    font-size: 0.9rem;
    color: #000;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.btn {
    padding: .2rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.table th {
    background-color: #00018a;
    color: #fff;
}

.table tbody tr th {
    background-color: inherit;
    color: inherit;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #ccc;
}

.table td, .table th {
    padding: .2rem;
    vertical-align: middle;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 0px;
}

.table td .form-control, .table td select {
    width: auto;
    height: auto;
    padding: .2rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0);
}

.table-striped tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.table tbody + tbody {
    border-top: 1px solid #ccc;
}

td.action-btn-col {
    text-align: center;
}

    td.action-btn-col .btn {
        padding: 0 !important;
        cursor: pointer;
    }

.action-col {
    width: 35px;
}

.prefix-col {
    width: 110px;
}

.gen-col {
    width: 80px;
}

.dataTables_wrapper {
    height: 500px;
    overflow-y: auto;
}

.p-0 {
    padding: 0px !important;
}

.ptb-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}


.pt-10 {
    padding-top: 10px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.add-new {
    font-size: 0.9rem;
    cursor: pointer;
}

.table-vscroll {
    height: 200px;
    overflow-y: auto;
}

/* common style end */


/* dataTables filter start */
.dataTables_filter form {
    display: flex;
    justify-content: flex-end;
}

.dataTables_filter label {
    text-align: left;
    margin: 0;
}

.dataTables_filter .form-control {
    min-height: 24px;
}

.dataTables_filter button {
    padding: 0.15rem 0.2rem;
}
/* dataTables filter end */


/* pagination start */
.pagination > li > a, .pagination > li > span {
    padding: 5px;
    line-height: 100%;
}
/* pagination end */

/* sales invoice form  start */
.sales-invoice .card-header {
    padding-left: 0;
    padding-top: 0;
}

.sales-invoice .row {
    margin-left: -5px;
    margin-right: -5px;
}

    .sales-invoice .row .col-md-3 {
        padding-left: 5px;
        padding-right: 5px;
    }
/* sales invoice form  end */


/* Voucher Entry start */
.voucher-title h4 {
    margin-bottom: -15px;
}

.panel-form {
    padding: 10px;
}

.close-right {
    float: right;
}


.edit-view-table td.tabledit-view-mode input {
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
}

    .edit-view-table td.tabledit-view-mode input:focus {
        border: 0 !important;
        box-shadow: none !important;
        outline: 0 !important;
    }

.panel-btn-list button {
    padding-top: 0;
    padding-bottom: 0;
    margin: 2px 0;
}

.bill-footer-link a {
    background-color: lightgrey;
}

.HoldingTax ul, .HoldingTax .slimScrollDiv {
    display: none !important;
}

/* Voucher Entry end */


/* right panel start */
#styleSelector .card {
    box-shadow: none !important;
    padding: 0 !important;
}


/* right panel end */


/* Account Master start */
.account-heading { padding: 15px 0; text-align: center;}
.account-heading h5 { font-weight: bold;}
.account-top-btn { display: flex; flex-wrap: wrap;}
.account-top-btn a { font-size: 0.9rem;}

.account-master-accordion { margin-right: -15px;}
.account-master-accordion input, .account-master-accordion select, .account-master-accordion textarea { background-color: #fff!important; border: 0!important; border-bottom: 1px solid #666!important;}

.account-master-accordion .panel { background-color: #fff; border: 1px solid #ccc!important; border-radius: 10px!important; margin-bottom: 10px; overflow: hidden;}
.account-master-accordion .panel-title { margin-bottom: 0!important;}
.account-master-accordion #accordion .panel-heading a { padding: 10px;}
.account-master-accordion #accordion .panel-heading a.collapsed:hover,
.account-master-accordion #accordion .panel-heading a.collapsed:focus { background-color: transparent!important; color: #000!important;}
.account-master-accordion #accordion .panel-heading a:not(.collapsed) { background-color: #fff; color: #000;}
#accordion .panel-heading .accordion-toggle::before { color: #000!important; margin-right: 5px;}

.account-master-accordion .panel .panel-body{ padding: 15px; border-top: 1px solid #ccc;}

.account-master-accordion .accordion-top-link { display: flex; flex-wrap: wrap; align-items: center; padding: 0 10px;}
.account-master-accordion .accordion-top-link a { margin: 5px; color: #00008B; padding: 0!important;}

.account-master-accordion .select2-container .select2-selection--single { height: auto!important; padding: 0!important;  border: 0!important;}


.account-master-accordion .select2-container--default .select2-selection--single .select2-selection__rendered { padding: .2rem!important; height: auto!important; line-height: 1.2!important; background-color: #fff!important; border: 0!important; border-bottom: 1px solid #ccc!important;}

/* Account Master end */


/* sidenav  start */
.sidenav { padding: 0; border: 1px solid #ccc!important; border-radius: 10px!important; padding: 10px;}
.sidenav .card { background-color: transparent; margin: 0;}
.sidenav .datashow { margin-top: 10px;}

/* sidenav  end */


/* responsive start */

@media (max-width: 767px) {

    /* right panel start */
    .pcoded #styleSelector {
        width: 90%;
    }

    /* right panel end */


}


/* responsive end */

